# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: Website maken
email: toon@automaton.be
description: > # this means to ignore newlines until "baseurl:"
  Leer zelf een website maken met HTML en CSS.
baseurl: "" # the subpath of your site, e.g. /blog
<<<<<<< HEAD
url: "https://toonvandeputte.github.io/" # the base hostname & protocol for your site
=======
url: "/" # the base hostname & protocol for your site
>>>>>>> gh-pages
twitter_username: toonvandeputte
github_username:  toonvandeputte

# Build settings
markdown: kramdown

collections:
  htmlels:
    output: false
  tutorial-html:
    output: true
  tutorial-css:
    output: true

defaults:
  - scope:
      path: ""
      type: htmlels
    values:
      layout: htmlel
  - scope:
      path: ""
      type: tutorial-html
    values:
      layout: tutorial
  - scope:
      path: ""
      type: tutorial-css
    values:
      layout: tutorial
