<div class="kleurtester-container" id="kleurtester001">
  <h3>Van HEX naar RGB of van RGB naar HEX</h3>
  <p>Je kan in één van de twee invulvelden aanpassingen doen, en het andere zal automatisch aangepast worden.</p>
  <div class="input">
    <label for="hex">vul een HEX waarde in</label><input type="text" value="#10d7af" id="hex" name="hex"></div>
  <div class="input">
    <label for="result">vul een RGB waarde in</label><input type="text" id="result" name="result">
  </div>
  <div class="kleurbalk"></div>
</div>
