/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/*
* collection items
*/

.wrapper.bodywrapper {
    display:flex;
    .sectionnav {
        margin-right: $spacing-unit;
        flex-basis: 200px;
        flex-grow:1;
        min-width: 200px;
        //padding-right: 10px;
    }
    .post {
        flex-basis: 500px;
        flex-grow:3;
        overflow: hidden;
    }
}

.sectionnav {
    background-color:$grey-color-light;
    .current {
        font-weight: bold;
        a:before {
            content:"\f111";
            font-weight: normal;
        }
    }
    h2 {
        font-size: 16px;
        padding:10px;
        background-color: $grey-color-dark;
        color:white;
        a {
            color:white;
            position:relative;
            display: block;
            &:after {
                font-family: 'FontAwesome';
                content:" \f148";
            }
        }
    }
    ul {
        list-style: none;
        margin:0;
        li a {
            display: block;
            padding-left: 30px;
            position: relative;
            padding-bottom: 5px;
            &:before {
                font-family: 'FontAwesome';
                content:"\f10c";
                position:absolute;
                left:10px;
                top:0;
                color:$grey-color;
            }
        }
    }
}
.deftable {
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: $spacing-unit;
}
.deftable th {
    font-weight: bold;
    color:$grey-color-dark;
    background-color: darken($grey-color-light,10%);
        text-align: left;
        vertical-align: top;
        padding: 10px;
}
.deftable td {
    text-align: left;
    vertical-align: top;
    padding: 10px;
    //background-color: $grey-color-light;
    border:1px solid $grey-color-light;
}
.deftable tr:nth-child(odd) {
    background-color: $grey-color-light;
}

.post-header .description {
    font-style: italic;
}
.attention {
    background-color: $attention-color;
    border-left: 4px solid rgb(255,200,0);
    padding:10px;
    margin-bottom: 1em;
}
.htmlresult {
    background-color: $code-background-color;
    border: 1px solid darken($code-background-color,10%);
    padding: 8px 12px;
}
.codecompare {
    //border-left:4px solid $grey-color-dark;
    margin-bottom: $spacing-unit;
    h4,h5 {
        margin:0;
        padding:5px;
        padding-left:0px;
        //background-color: $grey-color-dark;
        //color:white;
        font-size: 12px;
        margin:0;
    }
    h4 {
        font-weight: bold;
    }
}

ul.folderlist {
    list-style: none;
    padding:0;
    margin-left:0;
    margin-bottom: 1em;
    ul {
        list-style: none;
        margin-left: 20px;
    }
    li.folder {
        color:$grey-color;
    }
    li.file {
        color:$grey-color-dark;
    }
    li.folder.selected, li.file.selected {
        color:$brand-color;
    }
    li.folder:before {
        font-family: 'FontAwesome';
        content:"\f07b";
        margin-right:5px;
    }
    li.file:before {
        font-family: 'FontAwesome';
        content:"\f15b";
        margin-right:5px;
    }
}

.kleurtester-container {
    //padding:20px;
    border-color:$grey-color;
    margin-bottom: 60px;
    .input {
        margin-bottom: 16px;
        label {
            display: block;
        }
        input {
            padding:10px;
            font-size: 20px;
        }
    }
    .kleurbalk {
        width:150px;
        height:150px;
        border:1px solid $grey-color-light;
    }
}
/* begin in-page code editor */
.code_editor {
    position: relative;
    margin: auto;
    height: 500px;
    width:100%;
}

.code_preview_wrapper, .code_editor_wrapper {
    @media screen and (min-width: 800px) {
        max-width: 50%;
        flex-grow: 1;
        flex-shrink: 1;
    }
    height:500px;
    border: 1px $grey-color-light solid;
}
.code_preview_wrapper {
    overflow: scroll;
    white-space: nowrap;
    @media screen and (min-width: 800px) {
        border-left:none;
    }
}

.code_preview {
    height: auto;
}

.code_editor_cols {
    max-width: 100%;
    @media screen and (min-width: 800px) {
        display: flex;
    }
}

/* end in-page code editor */
/* css transform demo */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 200px;
	height: 200px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
    background-color: #FF0000;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    background-color: #FFFF00;
	transform: rotateY(180deg);
}
